@import "../../theme/theme.scss";
.eq-container-breadcrumb{
    box-shadow: $border-shadow-bread;
}
.form-corporativo{
    margin: auto;
    max-width: 650px;
    width: 100%;
    @include fontChico;
    margin-top: 65px;
    margin-bottom: 70px;
    padding: 0 30px;
    h2{
        font-size: 30px;
        color: $primary-color-dark;
    }
    button{
        font-size: 14px;
        width: 100%;
        color: white;
        font-weight: bold;
        margin-top: 15px;
        background-color:$accent-color;
        border-radius: 6px;
        padding: 8px 0 8px 0;
        cursor: pointer;
        box-shadow: $border-shadow-bread;
        @include fontChico;
        &:active{
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
        }
    }
}

