<footer>
  <div class="fot-1">
    <div class="fot1-part1">
      <div>
        <br>
          <h3>ENLACES ÚTILES</h3>
           <ul>
            <li> <a [routerLink]="['/'+_utilsService.country.name+'/publicar-corporativo']">Publicar</a> </li>
            <li> <a [routerLink]="['/'+_utilsService.country.name+'/maquinarias']" [queryParams]="{type: 'alquiler'}">Alquiler</a> </li>
            <li> <a [routerLink]="['/'+_utilsService.country.name+'/maquinarias']" [queryParams]="{type: 'venta'}">Venta</a> </li>
            <!-- <li> <a [routerLink]="['/publicar/tipo']">Ayuda</a> </li> -->
          </ul>
        </div>
        <div class="fot1-div-center">

                <img src="assets/img/globo.png" alt="globo.png">

              <br>
              <p>Av.Javier Prado 2932 <br> San Borja, Lima Perú </p>
        </div>
        <div>
              <br>
              <h3>LEGAL</h3>
              <ul>
                <li><a [routerLink]="['/'+_utilsService.country.name+'/condiciones']">Términos y condiciones</a></li>
                <li><a [routerLink]="['/'+_utilsService.country.name+'/politicas']">Política de privacidad</a></li>
                <li (click)="VerfiLogin()"><a>Libro de reclamaciones</a></li>
              </ul>
        </div>
    </div>


     <div class="fot1-part2">
            <div class="first-sm red-social eq-facebook">
              <a  target="_blank">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
            </div>
            <div class="red-social eq-twitter">
              <a target="_blank">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
            </div>
            <div class="red-social eq-linkedin">
              <a  target="_blank">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
            </div>
            <div class="red-social eq-youtube">
              <a  target="_blank">
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
              </a>
            </div>
    </div>
  </div>

  <div class="fot-2">
    <div class="copy">
      <p>GETMAQ©  2017 Todos los derechos reservados</p>
    </div>
    <div class="contacto">
      <div class="email-phone"><i class="fa fa-envelope fa-first" aria-hidden="true"></i> &ensp;
        <p><a href="mailto:admin@getmaq.com">admin@getmaq.com</a></p>
      </div>
      <div class="email-phone"><i class="fa fa-phone" aria-hidden="true"></i> &ensp;
        <p><a href="tel:+5118465178">(01) 796-5178</a></p>
      </div>
    </div>
  </div>

</footer>

  <app-easymodal [dataconfig]="misdatosdataconfigfot"></app-easymodal>
