 <app-header></app-header>

<div class="eq-container-breadcrumb">
  <div class="eq-breadcrumb container-new ">
    <div  [routerLink]="['/'+country+'/home']"
          class="eq-breadcrumb-atras">
      <i class="material-icons">keyboard_arrow_left</i>
    </div>
    <ul>
      <li class="item-breadcrumb">
        <div [routerLink]="['/'+country+'/home']" class="breadcrumb-text">Home</div>
        <div class="breadcrumb-icon"><i class="material-icons">keyboard_arrow_right</i></div>
      </li>
      <li class="item-breadcrumb">
        <div [routerLink]="['/'+country+'/politicas']" class="breadcrumb-text">Política de Privacidad</div>
      </li>
    </ul>
  </div>
</div>


<div class="container-new eq-container-misdatos">
    <div class="eq-misdatos-content">
        <div class="misdatos-block-formulario">
            <div class="misdatos-block-card">
                <div class="misdatos-block-title">
                    Política de Privacidad
                </div>
                <div class="misdatos-group-elements">
                    La presente política de privacidad (la “Política”) tiene por finalidad informarle la manera
                    como GAP GLOBAL SOLUTIONS, S.A.C. (en adelante GGS), con domicilio en Avenida Javier Prado
                    Este Nª 2922, San Borja, y R.U.C. 20601087554, trata su información personal a través del portal
                     Getmaq.com (el “Portal”). La Política describe toda la tipología de información personal que
                     se recaba de los Usuarios, y todos los tratamientos que se realizan con dicha información.
                     El Usuario declara haber leído y aceptado de manera previa y expresa la Política sujetándose a sus disposiciones.
                    <br><br>
                     Para efectos de esta Política toda referencia a “nos”, “nosotros”, “nuestra”, se refiere a GGS.
                     <br><br>
                     <div class="negrita"><strong> 1. ¿Qué información recolectamos? </strong></div><br>
                     Al momento de registrarse en el Portal solicitamos al Usuario datos personales que permiten identificarlo,
                     contactarlo o localizarlo, tal como el hombre, dirección de correo electrónico, dirección postal, teléfono, entre otros.<br><br>
                     Asimismo, GGS requiere almacenar información relativa al comportamiento del Usuario dentro del Portal, entre la que se incluye:<br><br>

                    <UL type = disk >
                        <LI>La URL de la que proviene el Usuario (incluyendo las externas al Portal).<br><br>
                        <LI>URLs más visitadas por el Usuario (incluyendo las externas al Portal).<br><br>
                        <LI>Dirección de IP.<br><br>
                        <LI>Navegador que utiliza el Usuario.<br><br>
                        <LI>Todas las actividades realizadas dentro del Portal.<br><br>
                        <LI>Información sobre la operativa del portal, tráfico, promociones, campañas de venta, estadísticas de navegación, entre otros.<br>
                    </UL>

                    <div class="negrita"><strong> 2. Sobre la veracidad de la información que recolectamos </strong></div><br>

                    El Usuario, al registrarse y utilizar el Portal, declara que toda la información proporcionada es verdadera, completa y exacta.
                    Cada Usuario es responsable por la veracidad, exactitud, vigencia y autenticidad de la información suministrada,
                    y se compromete a mantenerla debidamente actualizada.
                    <br><br>
                    Sin perjuicio de lo anterior, el Usuario autoriza a GGS a verificar la veracidad de los datos personales facilitados por el
                    Usuario a través de información obtenida de fuentes de acceso público o entidades especializadas en la provisión de
                    dicha información.
                    <br><br>
                    GGS no se hace responsable de la veracidad de al información que no sea de elaboración propia, por lo que tampoco asume
                    responsabilidad alguna por posibles daños o perjuicios que pudieran originarse por el uso de dicha información.<br><br>
                    <div class="negrita"><strong> 3. ¿Cómo conservamos su información personal? </strong></div><br>
                    De acuerdo a los establecido en el Ley Nº 29733, Ley de Protección de Datos Personales, y el Decreto Supremo Nº 003-2013-JUS,
                    por el que se aprueba el Reglamento de la Ley de Protección de Datos Personales, GGS informa a los Usuarios del Portal que
                    todos los datos de carácter personal que nos faciliten serán incorporados a un banco de datos, debidamente inscrito en la
                    Dirección de Registro Nacional de Protección de Datos Personales, titularidad de GGS.<br><br>
                    A través de la presente Política de Privacidad el Usuario da su consentimiento expreso
                    para la inclusión de sus datos personales en el mencionado banco de datos.<br><br>
                    <div class="negrita"><strong> 4. ¿Para qué utilizamos su información personal? </strong></div><br>
                    Los datos personales de los Usuarios del Portal son tratados con las siguientes finalidades:<br><br>

                    <UL type = disk >
                        <LI>Atender y procesar solicitudes de registro de Usuarios en el Portal, brindar soporte al Usuario y validar la veracidad de la información de registro.<br><br>
                        <LI>Gestionar y administrar las cuentas personales de los Usuarios, así como supervisar el comportamiento y la actividad del Usuario dentro del Portal.<br><br>
                        <LI>Brindar los datos de contacto del anunciante o creador del aviso a otros Usuarios interesados. Toda la información obtenida con este fin sólo podrá
                          utilizarse para concretar la operatoria que dio lugar al envío de estos datos, no pudiendo ser usada para ningún otro fin,
                          salvo que se cuente con al autorización expresa del Usuario involucrado.<br><br>
                        <LI>Contactar al Usuario interesado en utilizar algún servicio ofrecido por el Portal, así como absolver sus consultas.<br><br>
                        <LI>Realizar estudios internos sobre los intereses, comportamientos y hábitos de conducta de los Usuarios a fin poder
                          ofrecerles un mejor servicio de acuerdo a sus necesidades, con información que pueda ser de su interés.<br><br>
                        <LI>Brindar información a los Usuarios sobre los nuevos servicios y promociones ofrecidos por el Portal y/o por los Usuarios anunciantes.<br><br>
                        <LI>Gestionar los concursos, y promociones que se realicen con los Usuarios registrados en el Portal.<br><br>
                        <LI>Informar sobre los ganadores de premios, promociones, concursos y/o sorteos realizados por el Portal.
                          Los Usuariosque participen en las promociones, concursos o sorteos mencionados, autorizan expresamente a que el Portal
                          difunda por los medios que estime convenientes los datos personales e imágenes de los ganadores, sin derecho a compensación alguna.<br><br>
                        <LI>Compartir los datos personales de los Usuarios con terceros tales como empresas que contribuyan a mejorar o facilitar la operativa del Portal,
                          servicios de transporte, medios de pago, proveedores de seguros, gestores, entre otros.<br><br>
                    </UL>

                    Adicionalmente, los datos del Usuario serán utilizados con la finalidad de enviarle noticias, promociones, publicidad y novedades
                    del Portal a través de comunicaciones periódicas que serán remitidas a la dirección de correo electrónico que el Usuario facilitó
                    al momento de realizar el registro. Dichas comunicaciones serán consideradas solicitadas y no califican como “spam” bajo la
                    normativa vigente.<br><br>
                    GGS informa al Usuario que una vez autorizado el envió de las mencionadas comunicaciones, tendrá la facultad de revocar el
                    consentimiento prestado en cada una de las comunicaciones que reciba de Urbania.pe a través de un hipervínculo que se incorpora en
                    todas las comunicaciones, o enviando una solicitud a la siguiente dirección de correo electrónico: admin@getmaq.com.<br><br>
                    Los datos personales del Usuario también podrán ser compartidos con las empresas vinculadas a GGS a fin de que reciba
                    información sobre productos o servicios que puedan ser de su interés. Puede consultar las empresas que conforman GGS en el
                    siguiente enlace: <a style="color:#FF5722" href="http://www.ggs.com.pe/"  target="_blank">http://www.ggs.com.pe/</a> <br><br>
                    El Usuario del Portal manifiesta expresamente que ha sido informado de todas las finalidades antes mencionadas y
                    autoriza el tratamiento de sus datos personales con dichas finalidades.<br><br>
                    GGS le recuerda al Usuario que las finalidades de tratamiento de datos necesarias para al ejecución de la relación contractual
                    que vincula al Usuario registrado y a GGS no requieren del consentimiento del mismo.<br><br>
                    <div class="negrita"><strong> 5. ¿Cómo resguardamos su información personal? </strong></div><br>
                    GGS, a través del Portal, adopta las medidas técnicas y organizativas necesarias para garantizar la protección de los datos
                    de carácter personal y evitar su alteración, pérdida, tratamiento y/o acceso no autorizado, habida cuenta del estado
                    de la técnica, la naturaleza de los datos almacenados y los riesgos a que están expuestos, todo ello, conforme a lo
                    establecido por al Ley Nª 29733, Ley de Protección de Datos Personales, su Reglamento y la Directiva de Seguridad.<br><br>
                    En esTe sentido, GGS usará los estándares de la industria en materia de protección de la confidencialidad de la información
                    personal de los Usuarios del Portal. <br><br>
                    GGS emplea diversas técnicas de seguridad para proteger tales datos de accesos no autorizados. Sin perjuicio de ello, GGS
                    no se hace responsable por interceptaciones ilegales o violación de sus sistemas o bases de datos por parte de personas no
                    autorizadas, así como la indebida utilización de la información obtenida por estos medios, o de cualquier intromisión ilegítima
                    que escape al control de GGS y que no le sea imputable.<br><br>
                    GGS tampoco se hace responsable de posibles daños o perjuicios que se pudieran derivar de interferencias, omisiones, interrupciones,
                    virus informáticos, averías telefónicas o desconexiones en funcionamiento operativo de este sistema electrónico, motivadas por
                    causas ajenas a GGS; de retrasos o bloqueos en el uso de la plataforma informática causados por deficiencias o sobrecargas en el
                    Centro de Procesos de Datos, en el sistema de internet o en otros sistemas electrónicos.<br><br>
                    <div class="negrita"><strong> 6. ¿Con quiénes compartimos información? </strong></div><br>
                    Forma parte de la actividad propia del Portal dar a conocer los datos de contacto del vendedor del inmueble y/o servicio. El resto de
                    los datos personales recabados por el Portal en el proceso de registro o en cualquier otro momento, no serán suministrados a ningún otro Usuario.<br><br>
                    Los Usuarios podrán utilizar la mencionada información que el Portal les da a conocer únicamente para establecer comunicaciones relacionadas con
                    los servicios del Portal, siempre que no sean comunicaciones comerciales no solicitadas.<br><br>
                    Queda terminantemente prohibido brindar información personal sobre otro Usuario del Portal sin que medie la expresa autorización por parte del Usuario
                    en cuestión y la del Portal, incluso en los casos en que se haya realizado una operación comercial entre los Usuarios en cuestión.<br><br>
                    GGS se compromete a no divulgar o compartir con terceros la información personal recabada de los Usuarios sin que se haya prestado
                    el debido consentimiento para ello, con excepción de los siguientes casos:<br><br>

                    <UL type = disk >
                        <LI>En aquellos casos en que el uso de los datos personales sea necesario para la prestación de los servicios brindados a través del Portal.<br><br>
                        <LI>Solicitud de información de autoridades públicas en ejercicio de sus funciones y el ámbito de sus competencias.<br><br>
                        <LI>Solicitud de información en virtud de órdenes judiciales.<br><br>
                        <LI>Solicitud de información en virtud de disposiciones legales.<br><br>
                    </UL>

                    <div class="negrita"><strong> 7. Cookies </strong></div><br>
                    El Portal utiliza cookies. Una “Cookie” es un pequeño archivo de texto que un sitio web almacena en el navegador del Usuario.
                    Los cookies facilitan el uso y la navegación por una página web y son esenciales para el funcionamiento de Internet, aportando
                    innumerables ventajas en la prestación de servicios interactivos.<br><br>
                    El Portal podrá utilizar la información de su visita para realizar evaluaciones y cálculos estadísticos sobre datos anónimos,
                    así como para garantizar la continuidad del servicio o para realizar mejoras en el Portal.<br><br>
                    El Portal también utilizará la información obtenida a través de las cookies para analizar los hábitos de navegación
                    del Usuario y las búsquedas realizadas por éste, a fin de mejorar sus iniciativas comerciales y promocionales,
                    mostrando publicidad que pueda ser de su interés, y personalizando los contenidos del Portal.<br><br>
                    Las cookies pueden borrarse del disco duro si el Usuario así lo desea. La mayoría de los navegadores aceptan las
                    cookies de forma automática, pero le permiten al Usuario cambiar la configuración de su anvegador para que
                    se rechace la instalación de cookies, sin que ello perjudique su acceso y navegación por el Portal.<br><br>
                    En el supuesto de que en el presente Portal se dispusieran enlaces o hipervínculos hacia otros lugares de intenet
                    propiedad de terceros que utilicen cookies, GGS no se hace responsable ni controla el uso de cookies por
                    parte de dichos terceros.<br><br>
                    <div class="negrita"><strong> 8. Derechos de acceso, rectificación, cancelación y oposición de datos personales </strong></div><br>
                    GGS pone en conocimiento del Usuario su derecho de acceso, actualización y cancelación de su información personal, los mismos que podrá
                    ejercer mediante petición escrita a la siguiente dirección de correo electrónico: <span class="naranja">admin@getmaq.com</span><br><br>
                    Del mismo modo, el Usuario puede oponerse al uso o tratamiento de sus datos personales personales y puede solicitar ser informado sobre
                    todas las finalidades con que se tratan los datos personales.<br><br>
                    Sin perjuicio de lo anterior, GGS podrá conservar determinada información personal del Usuario que solicita la baja la baja,
                    a fin de que sirva de prueba ante una eventual reclamación contra GGS por responsabilidades derivadas del tratamiento de dicha
                    información. Dicha conservación deberá realizarse previo bloqueo de los datos, de manera que se impida su habitual tratamiento
                    y su duración no podrá ser superior al plazo de prescripción legal de dichas responsabilidades.<br><br>
                    <div class="negrita"><strong> 9. Modificaciones de las Políticas de Privacidad </strong></div><br>
                    GGS se reserva expresamente el derecho a modificar, actualizar o completar en cualquier momento la presente Política de Privacidad<br><br>
                    Cualquier modificación, actualización o ampliación producida en la presente Política será inmediatamente publicada en el Portal, por lo que
                    se recomienda al usuario revisarla periódicamente, especialmente antes de proporcionar información personal.<br><br>
                    Fecha de última actualización: 5 de Abril del 2017.<br><br>

                </div>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>
